body, html {
    height: 100%;
}

.topnav {
    background-color: #648FFF;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
 This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Empty div to allow space between the top bar and the splash page */


.bg {
    background-image: url("file:///C:/Users/Chris/Downloads/pexels-photo-355887.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Splash page edits */
.splash-name{
  font-family: 'Passion One', sans-serif;
  font-size: 100px;
  text-align: center;
}

.splash-text{
  width:50%;
  display: block;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.splash-inner-words {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 30px;

}

.splash-line{
  height:1px;
  border-bottom:1px solid white;
  width: 100%;
}

/*Misc edits for now */
.section-header {
  text-align: center;
}

.about{
  background-color: #748F8C;
}

.portfolio{
  background-color: #748FC3;
}
