body, html {
    height: 100%;
    margin: 0;
}

/*Naviation bar styling and responsiveness code.*/
.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
    transition: all .2s ease-in-out;
}


.topnav a:hover {
    color: black;
    transform: scale(1.1);
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
 This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: black;
  }
}

.bg {
    background-image: url("file:///C:/Users/Chris/Portfolio%20Page/images/pexels-photo-633719.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Splash page edits */
.splash-name{
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 600%;
}

.splash-text{
  text-align: center;
  width:50%;
  display: block;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}


.splash-inner-words {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: 25px;

}

.splash-line{
  height:1px;
  border-bottom:1px solid white;
  width: 100%;
}

/*Misc edits for now */
.section-header {
  font-family: 'Cormorant Garamond', sans-serif;
  text-align: center;
  font-size: 500%;
}


/*About Section*/
.about{
  background-color: #748F8C;
  height: 100%;


}

.about-body{
  padding: 0 10% 5% 10%;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 200%;
}


.portfolio{
  background-color: #748FC3;
  height: 100%;
}

.resume{
  height: 100%;
  background-color: #91E85D;
}

.resume-details{
    padding: 0 10% 5% 10%;
}
